<?xml version="1.0" encoding="utf-8"?>
    <image schemaversion="5.3" name="tbz-suse-tumbleweed">
	<description type="system">
		<author>yoshi314</author>
		<contact>yoshi314@gmail.com</contact>
		<specification>suse-tumbleweed</specification>
    </description>

	<preferences>

        <type image="tbz" />
		<version>1.0.0</version>
		<packagemanager>zypper</packagemanager>
		<locale>en_US</locale>
		<keytable>pl.map.gz</keytable>
		<timezone>Europe/Warsaw</timezone>
        <boot-theme>openSUSE</boot-theme>

	</preferences>


<!-- tweak root pass to your liking -->
	<users group="root">
		<user home="/root" name="root" shell="/bin/bash" pwd="rootpassword" pwdformat="plain" />
	</users>


<!-- various repositories to use, we mostly need oss one to setup the base system -->

  <repository type='rpm-md'>
    <source path='obs://openSUSE:Tumbleweed/standard'/>
</repository>


  <packages type="image">
    <package name="ca-certificates"/>
    <package name="ca-certificates-mozilla"/>
    <package name="coreutils"/>
    <package name="iputils"/>
    <package name="zypper"/>
    <package name="suse-build-key"/>
    <package name="openSUSE-release"/>
    <package name="krb5"/>
  </packages>

  <packages type="delete">
    <package name="aaa_base"/>
    <package name="dbus-1"/>
    <package name="dracut"/>
    <package name="fipscheck"/>
    <package name="glibc-locale"/>
    <package name="kbd"/>
    <package name="kmod"/>
    <package name="ncurses-utils"/>
    <package name="pinentry"/>
    <package name="pkg-config"/>
    <package name="sg3_utils"/>
    <package name="systemd-sysvinit"/>
    <package name="udev"/>
  </packages>
  <packages type='bootstrap'>
    <package name='filesystem'/>
    <package name='glibc-locale'/>
    <package name='module-init-tools'/>
    <package name='openSUSE-release'/>
    <package name='timezone'/>
    <package name='shadow' />
  </packages>


</image>
